## Import and Load Data

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [9]:
df = pd.read_feather('train_allx_Optmzd_feather').drop('ID',axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Columns: 188 entries, B_37 to S_5
dtypes: category(4), float32(184)
memory usage: 323.9 MB

In [10]:
df.head()

,B_37,S_24,S_4,S_14,B_25,D_38,B_30,D_138,P_2,S_7,...,D_43,D_4,D_85,D_78,D_42,D_52,D_29,R_1,R_28,S_5
0,0.006462,0.008118,0.853027,0.556641,1.003906,NaN,0.021301,0.511230,1.004883,0.081543,...,NaN,0.502441,0.002375,0.008270,0.008835,0.001913,1.007812,0.008171,0.008514,0.004307
1,0.007748,0.006310,0.758301,0.686035,0.001836,NaN,0.088501,0.557129,0.687988,0.353027,...,NaN,0.009544,1.002930,0.002613,0.003374,0.000530,0.006649,0.006798,0.003426,0.009224
2,0.005405,0.005219,0.766602,0.284668,1.002930,NaN,0.005821,0.854980,0.927734,0.059479,...,NaN,0.008736,0.008751,0.002541,0.009300,0.001654,0.000212,0.007599,0.009224,0.009636
3,0.004135,0.000032,0.363281,0.004623,0.533691,NaN,0.002443,0.526367,0.700684,0.334473,...,NaN,0.004646,0.007095,0.000235,0.004581,0.004738,0.002653,0.001221,0.009529,0.007523
4,0.002968,0.002892,0.757324,0.427734,1.001953,NaN,0.008247,0.820312,1.001953,0.144287,...,NaN,0.000344,0.005577,0.001367,0.005760,1.008789,1.003906,0.003401,0.001020,0.000535

## Dealing with missing values

In [42]:
(df.isnull().sum().sort_values(ascending=False)/4589.13).iloc[38:45]

D_22    10.535330
D_99     6.619337
R_5      6.261753
D_6      4.858219
D_56     4.858219
P_1      4.841876
D_4      2.790725
dtype: float64

In [43]:
null_cols = df.isnull().sum().sort_values(ascending=False).head(39).index

In [44]:
df_94 = df.drop(null_cols,axis=1)

In [45]:
df_94.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Columns: 149 entries, B_37 to S_5
dtypes: category(4), float32(145)
memory usage: 255.6 MB

In [46]:
(df_94.isnull().sum().sort_values(ascending=False)/4589.13).head()

D_99    6.619337
R_5     6.261753
D_6     4.858219
D_56    4.858219
P_1     4.841876
dtype: float64

In [51]:
df_94.dropna().count()[0]/4589.13

85.17758267906989

In [52]:
df_full = df_94.dropna()

## Exploratory Analysis