In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [2]:
df = pd.read_pickle("post-diwali-pickled")
df.head()

,DATE,SHOP_ID,PINCODE,SHOP,ITEM_ID,HR of the day,ORDERS,QTY,ITEM_GMV,CATEGORY
0,2019-10-25,59264.0,400058.0,Bhikharam Chandmal,28489567.0,252.0,1.0,1.0,600.0,Mobiles
1,2019-10-26,185364.0,400144.0,SHRI KHANDELWAL LAPTOP Shop,40969708.0,231.0,1.0,1.0,400.0,Mobiles
2,2019-10-22,188886.0,411094.0,Trupthi KLK ELECTRONICS,41344294.0,252.0,1.0,1.0,150.0,Tablets
3,2019-10-21,185364.0,400144.0,SHRI KHANDELWAL LAPTOP Shop,40969716.0,378.0,2.0,4.0,800.0,TV
4,2019-10-18,186348.0,413849.0,New Gokul Cell phones,40970957.0,231.0,1.0,1.0,450.0,Tablets

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267431 entries, 0 to 267430
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   DATE           267430 non-null  datetime64[ns]
 1   SHOP_ID        267430 non-null  float64
 2   PINCODE        267430 non-null  float64
 3   SHOP           267430 non-null  object
 4   ITEM_ID        267430 non-null  float64
 5   HR of the day  267430 non-null  float64
 6   ORDERS         267430 non-null  float64
 7   QTY            267430 non-null  float64
 8   ITEM_GMV       267431 non-null  float64
 9   CATEGORY       267430 non-null  object
dtypes: datetime64[ns](1), float64(7), object(2)
memory usage: 20.4+ MB

In [4]:
loc = ['PINCODE','SHOP_ID','SHOP']

for i in loc:
    val = df[i].nunique()
    print("{} - {} unique values".format(i,val))

PINCODE - 256 unique values
SHOP_ID - 1094 unique values
SHOP - 942 unique values

In [5]:
df['CATEGORY'].value_counts()/2674.31

Mobiles              38.958086
Earphones            33.652419
Tablets              12.617460
Speakers              5.558069
Laptops               3.924751
Charger               2.198698
TV                    2.041274
Other Electronics     1.048869
Name: CATEGORY, dtype: float64

In [6]:
tot_ord = df['ORDERS'].sum()
tot_gmv = df['ITEM_GMV'].sum()

print("Total orders: %d " % int(tot_ord))
print("Total GMV of: %f crores" % (tot_gmv/10000000))

Total orders: 363445
Total GMV of: 116.119912 crores

In [7]:
by_date = df.groupby('DATE').sum()[['ORDERS','ITEM_GMV']]
by_date['% TOT ORD'] = np.round(by_date['ORDERS']/3634.45,decimals=2)
by_date['% TOT GMV'] = np.round(by_date['ITEM_GMV']/11611991.21199060,decimals=2)
by_date

             ORDERS      ITEM_GMV  % TOT ORD  % TOT GMV
DATE
2019-10-18  26484.0  3.409662e+07       7.29       2.94
2019-10-19  31524.0  4.061880e+07       8.67       3.50
2019-10-20  37832.0  4.888847e+07      10.41       4.21
2019-10-21  27377.0  3.692877e+07       7.53       3.18
2019-10-22  28920.0  4.024328e+07       7.96       3.47
2019-10-23  28332.0  4.265166e+07       7.80       3.67
2019-10-24  32424.0  5.379233e+07       8.92       4.63
2019-10-25  34131.0  6.658409e+07       9.39       5.73
2019-10-26  44450.0  8.909453e+07      12.23       7.67
2019-10-27  46360.0  8.714757e+07      12.76       7.50
2019-10-28  25611.0  4.055344e+07       7.05       3.49

In [8]:
by_cat = df.groupby('CATEGORY').sum()[['ORDERS','ITEM_GMV']].sort_values(['ITEM_GMV'],ascending=False)
by_cat['% Total ORD'] = np.round(by_cat['ORDERS']/3634.45,decimals=2)
by_cat['% TOT GMV'] = np.round(by_cat['ITEM_GMV']/11611991.21199060,decimals=2)
by_cat

                     ORDERS      ITEM_GMV  % Total ORD  % TOT GMV
CATEGORY
Earphones          132718.0  2.567090e+08        36.52      22.11
Mobiles            135230.0  1.633627e+08        37.21      14.07
Tablets             43173.0  6.280105e+07        11.88       5.41
Speakers            20126.0  3.955452e+07         5.54       3.41
Laptops             13621.0  2.586159e+07         3.75       2.23
Other Electronics    4136.0  1.213269e+07         1.14       1.04
Charger              7542.0  1.018332e+07         2.08       0.88
TV                   6899.0  9.994733e+06         1.90       0.86

In [9]:
by_shop = df.groupby('SHOP').sum()[['ORDERS','ITEM_GMV']].sort_values(['ITEM_GMV'],ascending=False)
by_shop['% TOT ORD'] = np.round(by_shop['ORDERS']/3634.45,decimals=2)
by_shop['% TOT GMV'] = np.round(by_shop['ITEM_GMV']/11611991.21199060,decimals=2)
by_shop.head(10)

                                    ORDERS      ITEM_GMV  % TOT ORD  % TOT GMV
SHOP
SS ELECTRONICS(Tripolis)           10224.0  3.021949e+07       2.81       2.60
Samsung & Apple's                   8491.0  2.174238e+07       2.34       1.87
Bhikharam Chandmal                  7023.0  2.097310e+07       1.93       1.81
NEW NALANDA Speaker Shop            8596.0  1.232197e+07       2.37       1.06
Pathak Tablets                      5785.0  1.223304e+07       1.59       1.05
Nathu's Cell phones                 7162.0  1.190808e+07       1.97       1.03
Kiranshree Cell phones & Speakers   6206.0  1.051584e+07       1.71       0.91
Kaveri - Lalpur                     4709.0  9.629280e+06       1.30       0.83
Samsung & Apple's Prabhuji          3034.0  9.303511e+06       0.83       0.80
Rawat Tablet Shop- Nai Sadak        5283.0  8.501620e+06       1.45       0.73

In [10]:
by_pin = df.groupby('PINCODE').sum()[['ORDERS','ITEM_GMV']].sort_values(['ITEM_GMV'],ascending=False)
by_pin['% TOT ORD'] = np.round(by_pin['ORDERS']/3634.45,decimals=2)
by_pin['% TOT GMV'] = np.round(by_pin['ITEM_GMV']/11611991.21199060,decimals=2)
by_pin.head(10)

           ORDERS      ITEM_GMV  % TOT ORD  % TOT GMV
PINCODE
400058.0  49587.0  7.767265e+07      13.64       6.69
400120.0  20604.0  4.890779e+07       5.67       4.21
400102.0  15683.0  3.214455e+07       4.32       2.77
400091.0  19184.0  2.330490e+07       5.28       2.01
400052.0  11438.0  1.956345e+07       3.15       1.68
400105.0  12559.0  1.721986e+07       3.46       1.48
400131.0  11945.0  1.671115e+07       3.29       1.44
400064.0   8592.0  1.448499e+07       2.36       1.25
400079.0   8690.0  1.369969e+07       2.39       1.18
400118.0   7689.0  1.350846e+07       2.12       1.16