In [14]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

from decimal import  Decimal
# import torch

In [3]:
data = pd.read_csv("./Data/TrainingData.csv")
data.head(10)

   CID                                               Text  class
0    0  3fa9e6ac4a36c66b8ca3887914c6c75b08dad9095f1d7a...      3
1    1  21b7f56f644f02d51ae82c9d50f69fad686319657712d4...      2
2    2  74203af11b8bbb1d31ac34e85f3076588fbbf2dcf1a4f7...      3
3    3  6b412e99f1dea02c124a90b5f2cf29496cb84f2b2b33a0...      1
4    4  5b84fb6fc7710b0e499394d9b406950d2436a118e2d867...      1
5    5  100c868cab4e21cbdd559c593b2bf54cdbf54c5ed0223f...      1
6    6  2b087feb3a6cff5c4811a7eff6e9024a761ef4b07f74f8...      3
7    7  4bbb5592368a4ed357737a0c2f7c037e8c78dde9e4864e...      2
8    8  b87c8b77909a35198fe8d44162fa0ca11607dbe03438b3...      3
9    9  6f4471459cd7232e9b8cc81315a11fabcce89edf152c8a...      0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CID     80000 non-null  int64
 1   Text    80000 non-null  object
 2   class   80000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.8+ MB

In [5]:
data["class"].value_counts()

0    20048
1    20020
2    19970
3    19962
Name: class, dtype: int64

In [6]:
data['Text'].nunique()

79848

In [10]:
data['Text Len'] = data['Text'].apply(lambda x : len(x))
data['Text Len'].unique()

array([2000])

In [38]:
data['Decimal'] = data['Text'].apply(lambda x : Decimal(int(x,16)))

In [17]:
df = data.drop(['CID','Text Len'], axis=1)
df.head(10)

,Text,class,Decimal
0,3fa9e6ac4a36c66b8ca3887914c6c75b08dad9095f1d7a...,3,4321326276157814851400025398023031771426114248...
1,21b7f56f644f02d51ae82c9d50f69fad686319657712d4...,2,2288730918584606910353822755281419533459380364...
2,74203af11b8bbb1d31ac34e85f3076588fbbf2dcf1a4f7...,3,7882326807767611467095774518216952537983504406...
3,6b412e99f1dea02c124a90b5f2cf29496cb84f2b2b33a0...,1,7280167042367300457902445019902931905681654381...
4,5b84fb6fc7710b0e499394d9b406950d2436a118e2d867...,1,6212105220237031177702468494188281656435608408...
5,100c868cab4e21cbdd559c593b2bf54cdbf54c5ed0223f...,1,1089359880746560566876832000373988275812112506...
6,2b087feb3a6cff5c4811a7eff6e9024a761ef4b07f74f8...,3,2920982852796989255029205775595262253173709263...
7,4bbb5592368a4ed357737a0c2f7c037e8c78dde9e4864e...,2,5140477698984306766625865047065048847895138077...
8,b87c8b77909a35198fe8d44162fa0ca11607dbe03438b3...,3,1252246843120882976625977646908940780103929270...
9,6f4471459cd7232e9b8cc81315a11fabcce89edf152c8a...,0,7552541225945896453124605462499554998178886840...

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Text     80000 non-null  object
 1   class    80000 non-null  int64
 2   Decimal  80000 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.8+ MB

In [30]:
df['Decimal'].iloc[0]/(10**2405)

Decimal('432.1326276157814851400025398')

In [31]:
df['Decimal'].iloc[10]/(10**2405)

Decimal('646.8111016528561894958961497')

In [32]:
df['Decimal'].iloc[79000]/(10**2405)

Decimal('571.2986527518889335711918843')

In [41]:
Decimal(df.groupby('class').mean()/(10**2405))

/var/folders/s4/rbw51hr572v983ntn5czj87h0000gn/T/ipykernel_25504/2697890039.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  Decimal(df.groupby('class').mean()/(10**2405))

OverflowError: int too large to convert to float